*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       list-style: none;
}

.fondo{
       width: 100%;
       height: 100vh;
       background: url("./coliseo3.webp") no-repeat ;
       background-position: center center;
       background-size: cover;
}

.fondo::before{
       content: '';
       width: 100%;
       height: 100vh;
       position: absolute;
       top: 0;
       bottom: 0;
       left: 0;
       right: 0;
       background-color: rgba(9, 5, 93, 0.292);
}

nav{
       height: 80px;
       width: 100%;
       position: absolute;
       top: 0;
       display: inline-block;
       flex-direction: row;
       justify-content: center;
       border-bottom: solid 1px white;
}

.enlace{
       position: absolute;
       margin-left: 50px;
       margin-top: 15px;
}

nav a img.avion{
       height: 90px;
       float: left;
}

nav ul{
       float: right;/*El elmenu se alinea al extremo derecho*/
       margin-right: 40px;
}

nav ul li{
       display: inline-block;
       line-height: 80px;
       margin-right: 25px;
       margin-left: 25px;
}
nav ul li a{
       color: rgb(255, 255, 255);
       font-family: 'Inter', sans-serif;
       font-size: 20px;
       padding: 7px 13px;
       border-radius: 3px;
}

li.contacto a, li a:hover{
       background: rgba(0, 0, 0, 0.478);
       transition: .5s;
       color: white;
}

.baricon{
       font-size: 30px;
       color: white;
       float: right;
       line-height: 80px;
       margin-right: 40px;
       cursor: pointer;
       display: none;
}

#check {
       display: none;
}

section article {
       position: fixed;
       top: 220px;
       display: flex;
       flex-direction: column;
       width: 50%;
       margin-left: 5%;

}

section article h1 {
       color: white;
       font-size: 70px;
       width: 100%;

}

section article p{
       font-size: 20px;
       font-weight: bold;
       width: 50%;
       text-align: center;
}

section article label{
       height: 40px;
       background-color: rgba(0, 0, 0, 0.358);
       color: white;
       width: 50%;
}

section article label a{
       display: flex;
       line-height: 40px;
       justify-content: center;
       align-items: center;
}

footer{
       position: fixed;
       bottom: 0;
       height: 70px;
       width: 100%;
       color: white;
       border-top: solid 1px white;
       display: flex;
       justify-content: center;
}

footer ul li {
       display: inline-block;
       line-height: 80px;
       margin-right: 25px;
       margin-left: 25px;
}


@media (max-width: 320px){
       .enlace{
              margin-left: 45px;
       }
       nav {
              height: 80px;
       }
       .baricon{
              display: block;
       }
       ul{
              position: fixed; /*lo fijamos con valores que nosotros le damos*/
              width: 100%;
              height: 100vh;
              background: rgb(24, 38, 53);
              top: 80px; /*porque lo ubicamos debajo del nav que en este momento mide 80px pero depende de esa altura*/
              left: -100%;
              text-align: center; /*Como se deplega en un bloque entero y es para celular lo mas practico es que esten centradas*/
              transition: all .5s;
          }
          nav ul li{
              display: block;
              margin: 50px 0; /*Es paradejar las palabras espaciadas*/
              line-height: 30px; /*Especifica la altura para un altura.*/
          }
          nav ul li a{
              font-size: 20px;
              color: rgb(255, 255, 255);
          }
          li a:hover, li.contacto a{
              background: none;
              color: rgb(191, 19, 99); /*Para el li.inicio siempre de color rosa y para las palabraspor las que pasemos el cursor.*/
          }
          #check:checked ~ ul{
                 /*Cuando el valor del atributo type es checkbox, la presencia de checked, atributo booleano indica que el control se selecciona de forma predeterminada; de lo contrario, se ignora. Por eso cuando checkemos el menu se desplega si no no.*/
                 left:0;
                 /*El combinador ~ separa dos selectores y selecciona el segundo elemento sólo si está precedido por el primero y ambos comparten un padre común.*/
          }

          .fondo{
              width: 100%;
              height: 100vh;
              background: url("./coliseo3.webp") no-repeat ;
              background-position: center center;
              position: fixed;
              background-size: cover;
       }
       
       .fondo::before{
              content: '';
              width: 100%;
              height: 100vh;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              background-color: rgba(9, 5, 93, 0.292);
       }



          section{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              background-color: white;
              width: 100%;
              height: 100vh; 
       }

       section article {
              position: fixed;
              top: 120px;
              display: flex;
              flex-direction: column;
              width: 80%;
              margin-left: 5%;
       
       }
       
       section article h1 {
              color: white;
              font-size: 55px;
              width: 100%;
       
       }
       
       section article p{
              font-size: 15px;
              width: 100%;
              text-align: center;
              color: white;
              font-family: 'Inter', sans-serif;
              font-weight: normal;
       }
       
       section article label{
              height: 40px;
              background-color: rgba(0, 0, 0, 0.407);
              color: white;
              width: 100%;
              margin-top: 15px;
       }
       
       section article label a{
              display: flex;
              line-height: 40px;
              justify-content: center;
              align-items: center;
       }
       
       footer{
              position: fixed;
              bottom: 0;
       }
       
       footer ul li {
              display: flex;
              line-height: 80px;
              margin-right: 25px;
              margin-left: 25px;
              justify-content: center;
       
       } 


}